- hosts: localhost
  connection: local
  become: yes

  vars:
    kube_user: ubuntu
    deployment_file: "../kubernetes/webgoat-deployment.yaml"

  tasks:
    - name: Install aptitude
      apt:
        name: aptitude
        state: latest
        update_cache: true

    - name: Install required system packages
      apt:
        pkg:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
          - python3-pip
          - virtualenv
          - python3-setuptools
          - conntrack
        state: latest
        update_cache: true

    - name: Add Docker GPG apt Key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker Repository
      apt_repository:
        repo: deb https://download.docker.com/linux/ubuntu focal stable
        state: present

    - name: Update apt and install docker-ce
      apt:
        name: docker-ce
        state: latest
        update_cache: true


    - name: Ensure group "docker" exists
      group:
        name: docker
        state: present

    - name: Add ubuntu user to docker group
      user:
        name: ubuntu
        groups: docker
        append: true

    - name: Reset ssh connection to allow user changes to affect ansible user
      ansible.builtin.meta:
        reset_connection

    # - name: Log into private registry and force re-authorization
    #   become: true
    #   community.docker.docker_login:
    #     registry_url: registry.git.step.polymtl.ca
    #     username: juliette-mathivet
    #     password: STEP-EmE3IDFNLh_iPVx5BOM_Sm86MQp1Om95CA.01.0y0h33awk
    #     reauthorize: true

    # - name: Pull an image
    #   become: true
    #   community.docker.docker_image_pull:
    #     name: registry.git.step.polymtl.ca/log8100/equipe11/tp3:latest
    
    # - name: docker login
    #   become: false
    #   command: >
    #     echo "STEP-EmE3IDFNLh_iPVx5BOM_Sm86MQp1Om95CA.01.0y0h33awk" | docker login --username juliette-mathivet --password-stdin registry.git.step.polymtl.ca/log8100/equipe11


    # - name: pull image
    #   become: false
    #   command: >
    #     docker pull registry.git.step.polymtl.ca/log8100/equipe11/tp3:latest

    # - name: Pull default Docker image
    #   community.docker.docker_image:
    #     name: "{{ default_container_image }}"
    #     source: pull
    
    - name: Download Minikube binary
      get_url:
        url: "https://storage.googleapis.com/minikube/releases/v1.34.0/minikube-linux-amd64"
        dest: "/usr/local/bin/minikube"
        mode: '0755'

    - name: Verify Minikube installation
      command: "minikube version"
      register: minikube_version
      changed_when: false

    - name: Get the latest stable Kubernetes version
      command: "curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt"
      register: kubectl_version

    - name: Install kubectl
      get_url:
        url: "https://storage.googleapis.com/kubernetes-release/release/{{ kubectl_version.stdout }}/bin/linux/amd64/kubectl"
        dest: "/usr/local/bin/kubectl"
        mode: '0755'

    - name: Verify kubectl installation
      command: "kubectl version --client"
      register: kubectl_version_output
      changed_when: false
      register: regcred_result
      failed_when: false

    # # =========================
    # # 4. Add user to docker group
    # # =========================
    # - name: Add ubuntu user to docker group
    #   user:
    #     name: "{{ kube_user }}"
    #     groups: docker
    #     append: yes

    - name: Start Minikube
      become: false
      command: "minikube start --driver=docker --memory=6500 --cpus=2 --force"

    - name: Wait for Minikube to be ready
      command: "minikube status"
      register: minikube_status
      until: "'host' in minikube_status.stdout"
      retries: 10
      delay: 10
      # until: minikube_status.stdout == "Running"
    

    # =========================
    # 6. Configure kubectl
    # =========================
    - name: Ensure .kube directory exists
      file:
        path: /home/{{ kube_user }}/.kube
        state: directory
        owner: "{{ kube_user }}"
        group: "{{ kube_user }}"
        mode: '0755'

    - name: Create Kubernetes imagePullSecret for private registry
      # become: false
      command: >
        kubectl create secret docker-registry regcred 
        --docker-server=registry.git.step.polymtl.ca
        --docker-username=juliette-mathivet
        --docker-password=STEP-EmE3IDFNLh_iPVx5BOM_Sm86MQp1Om95CA.01.0y0h33awk
        --docker-email=juliette.mathivet@etud.polymtl.ca
      # --dry-run=client -o yaml | kubectl apply -f -

    # =========================
    # 7. Apply Kubernetes deployment
    # =========================
    - name: Apply WebGoat deployment
      # become: false
      command: kubectl apply -f {{ deployment_file }}

    # =========================
    # 8. Expose WebGoat service
    # =========================
    - name: Expose WebGoat service
      # become: false
      command: >
        kubectl expose deployment webgoat-deployment
        --type=NodePort
        --port=80
        --name=webgoat
        --target-port=8080
      register: expose_result
      failed_when: false

    # =========================
    # 9. Get service URL
    # =========================
    - name: Get Minikube service URL
      # become: false
      command: sudo minikube service webgoat --url
      register: service_url

    - name: Display WebGoat URL
      debug:
        msg: "WebGoat is accessible at {{ service_url.stdout }}"